################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestEase/.vs/
.vs/
/.vs/slnx.sqlite
