################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestEase/.vs/TestEase/FileContentIndex/707afe2e-0400-4265-991c-f749c01076cb.vsidx
